<!-- Begin block container -->
<div class="block block-bordered block-rounded">
  <!-- Begin block header -->
  <div class="block-header">
    <h2 class="block-title"><%= t('.title') %></h2>
  </div>
  <!-- End block header -->
  <!-- Begin block content -->
  <div class="block-content">
    <%= form_with(model: comment, url: admin_comment_path, local: true) do |form| %>
      <%= errors_for(comment) %>
      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, id: :comment_body, class:"form-control", rows: 10 %>
      </div>

      <div class="push-10-t text-center">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <!-- End block content -->
</div>
<!-- End block container -->
