<h2>Comments</h2>


<table class="table table-striped push-10-t">
<thead>
  <tr>
    <th><%= t('.project') %></th>
    <th><%= t('.comment') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>
</thead>
<tbody>
  <% @comments.each do |comment| %>
  <tr>
    <td><%= comment.project.name%>
    <td><%= comment.body %></td>
    <td><%= link_to t('.edit'), edit_admin_comment_path(comment) %></td>
    <td><%= link_to t('.destroy'), admin_comment_path(comment), method: :delete, data: { confirm: t('.confirm') } %></td>
  </tr>
  <% end %>
</tbody>
</table>
