<p id="notice"><%= notice %></p>

<h1>Comments</h1>
<p>
  <%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete %>
</p>
<table>
  <thead>
    <tr>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to 'Show', project_comments_path %></td>
        <td><%= link_to 'Edit',edit_project_comment_path(@comment.id) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
