<p id="notice"><%= notice %></p>

<%= link_to 'Ajouter un commentaire', new_comment_path %>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
