<div class="block block-bordered block-rounded">
  <div class="block-header">
    <h3 class="block-title">Projects</h2>
  </div>
  <div class="block-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>User</th>
          <th style="width: 100px;" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td width="400px"><%= project.description.first(150) %></td>
          <td><%= project.user.fullname %></td>
          <td class="text-center">
            <span class="pull-left">
              <%= link_to "Edit", edit_admin_project_path(project) %>
            </span>
            <span class="pull-right">
            <%= link_to "Destroy", admin_project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
