<div class="col-md-8 col-md-offset-2 push-10-t">
  <!-- Begin block container -->
  <div class="block block-bordered block-rounded">
    <!-- Begin block header -->
    <div class="block-header">
      <h2 class="block-title">Project</h2>
    </div>
    <!-- End block header -->
    <!-- Begin block content -->
    <div class="block-content">
      <%= form_with(model: project, local: true) do |form| %>
        <% if project.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
            <% project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :project_name, class:"form-control", disabled: !is_owner? %>
        </div>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, id: :project_description, class:"form-control", rows: 5%>
        </div>

        <div class="form-group">
          <%= form.label :estimated_effort %>
          <%= form.text_field :estimated_effort, id: :project_estimated_effort, class:"form-control", disabled: !is_owner?%>
        </div>

        <div class="form-group">
          <%= form.label :actual_effort %>
          <%= form.text_field :actual_effort, id: :project_actual_effort, class:"form-control", disabled: !is_owner?%>
        </div>

        <div class="form-group">
          <%= form.label :visibility %><br />
          <%= form.label :is_public, "public", :value => "true"  %>
          <%= form.radio_button :is_public, true%>
          <%= form.label :is_public, "private", :value => "false", class: "push-10-l"%>
          <%= form.radio_button :is_public, false%>
        </div>

        <div class="form-group">
          <%= form.label :status %><br>
          <%= form.select :status, Project.statuses.keys, {}, {class:"form-control"} %>
        </div>

        <div class="push-10-t text-center">
          <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <!-- End block content -->
  </div>
  <!-- End block container -->
</div>
