<div class="col-md-4 col-md-offset-4 push-10-t">
  <!-- Begin block container -->
  <div class="block block-bordered block-rounded">
    <!-- Begin block header -->
    <div class="block-header">
      <h2 class="block-title"><%= t('.sign_in') %></h2>
    </div>
    <!-- End block header -->

    <div class="block-content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class:"form-control" %>
        </div>


        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control"%>
        </div>

        <div class="row push-10-t">
          <div class="col-sm-6">
            <%= render "devise/shared/links" %>
          </div>
          <div class="col-sm-6 text-right">
            <%= f.submit t('.log_in'), class: "btn btn-primary"%>
          </div>
        </div>

      <% end %>      
    </div>
    <!-- End block content -->
  </div>
  <!-- End block container -->
</div>




