<div class="block block-bordered block-rounded">
  <div class="block-header">
    <h3 class="block-title"><%= t('.title') %></h2>
  </div>
  <div class="block-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('.name') %></th>
          <th style="width: 60%;"><%= t('.email') %></th>
          <th><%= t('.role') %></th>
          <th style="width: 100px;" class="text-center"><%= t('.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.fullname %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td class="text-center"><%= link_to t('.destroy'), admin_user_path(user), method: :delete, data: { confirm: t('.confirm') } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
