<!DOCTYPE html>
<html>
  <head>
    <%= render "header" %>
  </head>
  <body class="page-header-fixed">
  <!-- BEGIN HEADER -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= render "navbar" %>
      </div>
        
    </div>
  </div>
  
  <!-- END HEADER -->
    <div class="container push-20-t">
      <div class="row">
        <div class="col-md-2">
          <%= render "application/admin/sub_nav" %>
        </div>
        <div class="col-md-10">
          <%= render "flash_alert" %>
          <%= yield %>
        </div>
      </div>
    </div>



  </body>
</html>
