<!DOCTYPE html>
<html>
  <head>
    <%= render "header" %>
  </head>
  <body class="page-header-fixed">
  <!-- BEGIN HEADER -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= render "navbar" %>
      </div>
    </div>
  </div>
  <!-- END HEADER -->
  <div class="container push-20-t">
  <%= render "flash_alert" %>
  <%= yield %>
  </div>

  <!-- 
  <% if user_signed_in? %>
  UserName : <%= @current_user.fullname%> 
  Email : <%= @current_user.email%> 
  <% end %>
  -->
  </body>
</html>
