<!DOCTYPE html>
<html>
  <head>
    <title>Home Improvement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <h1>Home Improvement</h1>
  <p>
      <% if user_signed_in? %>
        <%= @current_user.email %> : 
        <%= link_to "Se déconnecté", destroy_user_session_path, :method => :delete %>
      <% end %>
  </p>
  <body>
    <%= yield %>
  </body>
</html>
